<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Piñateria la 8</title>
    <%- include("partials/link") -%>
</head>

<body>

    <%- include("partials/navigation") %>

    <div class="container containerProd p-4">
        <div class="row">
            <div class="card-columns contenedor-img">

                <% images.forEach(function (image) { %>

                <div class="card animated fadeInDown container-producto">
                    <div class="producto-body">
                        <a href="/image/<%= image._id %>" class="">
                            <img loading="lazy" src="<%= image.path %>" class="card-img-top" alt="<%= image.filename %>"
                            ondragstart="return false" onselectstart="return false" oncontextmenu="return false">
                        </a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>

</body>

</html>