<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Profle</title>
    <%- include("partials/link") -%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.8/swiper-bundle.min.css">
</head>

<body>

    <%- include("partials/nav-detalles") %>
                <div class="animated fadeInDown container containerProd">
                    <div class="container-img-detalle">
                        <img src="<%= image.url %>" alt="<%= image.filename %>" ondragstart="return false" onselectstart="return false" oncontextmenu="return false">
                    </div>
                    <div class="card-body card-body-pro media-card-body">
                        <div class="body-titulo">
                            <div class="titulo-text">
                                <p class="card-title">
                                    <%= image.title %>
                                </p>
                            </div>
                        </div>
                        <textarea  readonly disabled class="card-descripcion"><%= image.description %></textarea>
                        <div class="body-titulo">
                            <div class="titulo-text">
                                <div class="card-text">
                                    <p>Valor :</p>
                                    <h2><%= image.valor %></h2>
                                </div>
                            </div>
                            <div class="titulo-btn">
                                <a href="https://wa.link/9prm56">
                                    <div class="btn-ws">
                                        <p><i>Escribenos...</i></p>
                                        <img src="/img/ws-img.png" alt="logo de whatsapp">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="text-import">
                            <p>
                                <b>IMPORTANTE:  el servicio a domicilio esta inlcuido para la ciudad Guadalajara de Buga - Col. el arreglo de globos para otras ciudades se enviara en kit para armarlo en casa.</b>   Algunos productos podrían variar de lo observado en las fotos dependiendo de la disponibilidad y nuevas ediciones de los productos.
                            </p>
                        </div>
                    </div>
                </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.8/swiper-bundle.min.js"></script>
</body>

</html>